<div class="container">
    <!-- Modal -->
  <div class="modal fade" id="newOrder" role="dialog">
    <div class="modal-dialog modal-sm" >

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm creation of new order</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure that you want to clear current order selection?</p>
        </div>
        <!-- <div class="modal-footer popup-buttons">-->
        <div class="modal-footer popup-buttons">
        <button type="button" class=" btn btn-secondary btn-popup-new-order-yes" data-dismiss="modal">Yes</button>
        <button type="button" class=" btn btn-secondary" data-dismiss="modal">No</button>
         </div>

      </div>

    </div>
  </div>

</div>

<div class="container">
    <!-- Modal -->
  <div class="modal fade" id="saveOrder" role="dialog">
    <div class="modal-dialog modal-sm" >

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm your order</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure that you want to send the order to the chef?</p>
        </div>
        <!-- <div class="modal-footer popup-buttons">-->
        <div class="modal-footer popup-buttons">
        <button type="button" class=" btn btn-secondary btn-popup-cave-order-yes" data-dismiss="modal">Yes</button>
        <button type="button" class=" btn btn-secondary" data-dismiss="modal">No</button>
         </div>

      </div>

    </div>
  </div>

</div>

