<div class='dish'>
<img src="" width="200" height="200" class="img-responsive image" alt="">
<h4 class = 'text-center dishName'></h4>
</div>
<div class = 'popup hide'>
              <h4 class = 'text-center dishName'></h4>
              <img src="" width="200" height="200" class="img-responsive image" alt="">
              <p class = 'dishDescription'></p>
              </div>


