<div id="filters" class="button-group">
              <button class="btn btn-xs btn-default" data-filter="*">Show all</button>
              <button class="btn btn-xs btn-default" data-filter=".non-vegetarian">Dishes with meat</button>
              <button class="btn btn-xs btn-default" data-filter=".vegetarian">Vegetaian</button>
              <button class="btn btn-xs btn-default" data-filter="numberGreaterThan75">Price > 75</button>
              </div>
<div class = "dish-container grid">
</div>
