<div class='dish row'>
<img src="" width="200" height="200" class="img-responsive image col-xs-12 col-sm-12 col-md-12" alt="">
<div class="row col-xs-12 col-sm-12 col-md-12">
              <div class='price col-xs-6 col-sm-6 col-md-6 text-bold'></div>
              <button class='btn btn-success col-xs-6 col-sm-6 col-md-6 pull-right btn-add'>Add</button>
              </div>
<h4 class = 'text-center dishName col-xs-12 col-sm-12 col-md-12'></h4>
</div>
<div class = 'popup hide row'>
<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>

              <h4 class = 'text-center dishName'></h4>
              <img src="" width="200" height="200" class="img-responsive image col-xs-12 col-sm-12 col-md-12" alt="">
              <div class="row col-xs-12 col-sm-12 col-md-12">
              <div class='price col-xs-6 col-sm-6 col-md-6 text-bold'></div>
              <button class='btn btn-success col-xs-6 col-sm-6 col-md-6 pull-right btn-add'>Add</button>
              </div>
              <p class = 'dishDescription col-xs-12 col-sm-12 col-md-12'></p>
</div>


